---
import PostHogLayout from '../layouts/PostHogLayout.astro';
import HousingSimulation from '../components/HousingSim/HousingSimulation.jsx';
---
<PostHogLayout>
  <h1>Debug: Housing Simulation</h1>
  <HousingSimulation client:load />
</PostHogLayout>