---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Senior Engineer specializing in data engineering, API integrations, and cloud services. I love data and making it useful for people."
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<div style="overflow: auto; margin-bottom: 20px;">
		<div style="width: 25%; float: left; margin-right: 15px; margin-bottom: 10px;">
			<img src="/img/about/profileme.jpg" alt="Dominick Ryan" style="width: 100%; border-radius: 50%;">
		</div>
		<div>
			<p>Hey there, welcome to my blog! I'm Dominick, and this is my personal blog. I love data, and learning new things and new ways of looking at the world.</p>

			<p>Professionally, I am working as a Senior Engineer, developing API integrations, automating reporting, and configuring and deploying cloud services. I'm lucky to be on a team with awesome and dedicated people, where we create solutions for a whole range of SaaS, PaaS, and legacy system challenges. Day-to-day, I get to use a lot of great technology like Python, SQL, Spark, and Airflow, sometimes on cloud platforms like GCP, Azure, and AWS.</p>

			<p>Whether I'm building out ETL/ELT pipelines, setting up data warehouses or data lakes, or even diving into the data from that classic 'keyring of thumb drives someone found in a drawer,' my aim is to make sure data is useful. One of the most important steps in making this happen, is understanding what colleagues and stakeholders need from these solutions. Or as I like to say, Let's make it nice for the people.</p>
		</div>
	</div>

	<div style="text-align: center; margin-top: 2rem;">
		<a href="/more-about-me/" style="display: inline-block; padding: 0.5rem 1rem; background: var(--accent); color: white; text-decoration: none; border-radius: 4px; margin-right: 1rem;">I Want to Know More About Dominick</a>
		<a href="https://www.google.com" style="display: inline-block; padding: 0.5rem 1rem; background: rgb(var(--gray)); color: white; text-decoration: none; border-radius: 4px;">I've Heard Enough</a>
	</div>
</Layout>
