---
import HousingSimulationSimple from '../components/HousingSim/HousingSimulationSimple.jsx';
---

<html lang="en">
  <head>
    <title>Debug Housing Simulation Simple</title>
  </head>
  <body>
    <h1>Debug: HousingSimulationSimple</h1>
    <HousingSimulationSimple client:load />
  </body>
</html>
