---
import HousingSimulation from '../components/HousingSim/HousingSimulation.jsx';
---

<html lang="en">
  <head>
    <title>Debug Housing Simulation</title>
  </head>
  <body>
    <h1>Debug: Housing Simulation</h1>
    <HousingSimulation client:load />
  </body>
</html>
