---
import BaseLayout from "../layouts/BaseLayout.astro";
import ClimateGameOfLife from "../components/ClimateGameOfLife.jsx";
---

<BaseLayout title="Ecosystem Cellular Automata Simulation" mainClass="max-w-5xl">
  <div class="py-4">
    <ClimateGameOfLife client:only="react" />
  </div>
</BaseLayout>
