---
import PostHogLayout from '../layouts/PostHogLayout.astro';
import FullWidthLayout from '../layouts/FullWidthLayout.astro';
import HousingSimulationComponent from '../components/HousingSim/HousingSimulation.jsx';
---

<PostHogLayout>
  <FullWidthLayout title="Housing Simulation">
    <div class="housing-simulation-page">
      <div class="housing-simulation-container">
        <HousingSimulationComponent client:only="react" />
      </div>
    </div>
  </FullWidthLayout>
</PostHogLayout>